* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fbd71+0,ffffff+100 */
    background: #5fbd71;
    /* Old browsers */
    background: -moz-linear-gradient(top, #5fbd71 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5fbd71 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5fbd71 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5fbd71', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    font-family: 'Roboto', sans-serif
}

ul {
    list-style-type: none
}

h1 {
    margin-top: 20px;
    color: #0FA67D;
    clear: both
}

h5 {
    padding-bottom: 15px;
    color: #0FA67D;
    font-size: 27px;
    font-weight: inherit
}

a {
    text-decoration: none;
    font-size: 22px
}

section,
#profile-nav {
    margin: 20px 40px 20px 0
}

#site-nav {
    background-color: #000000;
}

#site-nav ul li {
    display: inline-block;
}

#academy-logo-image {
    margin: 0;
    width: 220px;
    height: 65px;
}

#site-nav ul li a {
    display: inline-block;
    margin: 20px 80px 0 0;
    color: #FFFFFF
}

#site-nav ul li.active a {
    color: #FE6458;
    text-decoration: underline
}

#site-nav ul li:hover a {
    text-decoration: underline
}

#profile-nav li {
    margin: 10px 0;
    padding: 15px 5px;
    border: 5px solid #0FA67D
}

#profile-nav li:hover {
    background-color: #10A57B
}

#profile-nav li.active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,3fbb63+100,207cca+100,7db9e8+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #3fbb63 100%, #207cca 100%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #3fbb63 100%, #207cca 100%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #3fbb63 100%, #207cca 100%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

#profile-nav li a {
    color: #0FA67D;
}

#profile-nav li:hover a {
    color: #FFFFFF
}

#page-information>div {
    margin: 10px 0 50px 0;
    padding: 5px 0 0 5px;
    width: 595px;
    border: 3px solid #0FA67D;
    border-radius: 10px
}

#page-information div p {
    margin: 5px 30px 5px 0;
    font-weight: inherit
}

#information-title {
    font-size: 22px
}

#empty-information-message {
    margin: 25px;
    padding: 15px;
    background-color: #D7D7D7
}

#empty-information-message p {
    position: relative;
    padding: 0 45px;
    font-size: 20px;
    color: #0FA67D
}

#empty-information-message p::before {
    content: url("../images/info-icon.png");
    position: absolute;
    top: -7px;
    left: -10px
}

#courses-table,
#forum-posts-table {
    margin: 5px 30px;
    width: 530px;
    height: 530px;
    border: 1px solid #000000
}

#courses-table th,
#forum-posts-table th {
    height: 53px;
    border-bottom: 1px solid #000000;
    font-weight: normal
}

#courses-table th:not(:last-child),
#courses-table td:not(:last-child),
#forum-posts-table th:not(:last-child),
#forum-posts-table td:not(:last-child) {
    border-right: 1px solid #000000
}

#courses-table th:first-child {
    width: 425px
}

#forum-posts-table th:first-child {
    width: 156px
}

#profile-image {
    position: relative;
    width: 185px;
    height: 185px;
    display: block;
    margin: 0 auto;
    border: 12px solid #FFFFFF;
    border-radius: 50%
}

.profile-icon {
    width: 43px;
    height: 37px;
}

#link-icon {
    position: relative;
    top: -125px;
    left: 60px
}

#friends-icon {
    position: relative;
    top: -40px;
    left: 45px;
}

#team-icon {
    position: relative;
    top: 15px;
    left: 130px
}

#messages-icon {
    position: relative;
    top: -40px;
    left: 218px;
}

#screenshot-icon {
    position: relative;
    top: -125px;
    left: 200px
}

#student-card-information {
    margin: 20px 0;
    padding: 10px 15px;
    border: 3px solid #0FA67D;
    border-radius: 10px
}

#student-card-img {
    width: 214px;
    height: 130px
}

.small-icon {
    width: 30px;
    height: 30px;
    margin: 5px 10px 0 0;
}

#student-card-information li {
    font-size: 16px;
    color: #0FA67D
}

footer {
    padding: 10px;
    background-color: #3CBB62;
    color: #FFFFFF;
    font-size: 20px
}

#social-icons {
    float: right
}

.social-icon {
    height: 30px
}